/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* common */
.body{
    height: 100vw;
}
.space-between{
    display: flex;
    justify-content: space-between;
}
.flex{
    display: flex;
}

ul *{
    list-style: none;
}


/* header */

header{
    background-color: rgba(0, 0, 0, 0.414);
    min-height: 1.875rem;
    padding: 0.625rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.logo-small{
    width: 2.5rem;
    height: 100%;
}
 .logo-big{
    display: none;
    width: 7.5rem; 
    height: 100%;
} 
header button{
    background-color: transparent;
    color: white;
    border: 0.0625rem solid white;
    border-radius: 1.25rem;
    padding: 1.25rem;
 }
 

/* responsive header */
@media screen and (min-width: 640px){
    .logo-big{
        display: flex;
    }
    .logo-small{
        display: none;
    }    
}



/* main */
main{
    height: calc(100vh - 4.6875rem) ;
    overflow: scroll;
}


/* ****
menu
****** */
.first-cont{
    padding-left: 0.625rem;
    width: 20%;
    background-color: #000000;
    color: azure;
    flex-direction: column;
}
nav{
    height: 100%;
}
.menu{
    padding-top: 4.6875rem;
    border: 1px solid black;
}

.menu ul li{
    margin-bottom: .625rem;
    margin-left: .3125rem;
}
.musica{
    flex-grow: 1;
    border: 1px solid black;

}
.text{
    display: none;

}
.playlist{
    max-height: 3.5rem;
    overflow: scroll;
 }
 .user{
    margin-top: auto;
    border: 1px solid black;
    
    
}
 
/* responsive */
@media screen and (min-width: 640px){
    .text{
        display: block;
    }
   
}

main .first-cont ul{
    margin-bottom: 1.25rem;
}
main img{
    width: 2rem;
}

main .menu li{
    align-items: center;
    
}


















/* *******************************************
menu fine
******************************************* */



.second-cont{
    padding-top:  4.6875rem;
    height: calc(100vh - 4.6875rem);
    width: 80%;
    overflow: scroll;
    background-color: #141922;
    color: white;
}

.second-cont ul{
    flex-wrap: wrap;
    width: calc(100vh / 4);
    margin: 1.25rem auto;
}

.second-cont ul li{
    margin: 1.25rem auto;
}

















/* footer */
.footer-cont{
    background-color: #282828;
    color: white;
    height: 4.6875rem;
    width: 100%;
    padding: 1rem ;
}

.left-foot,
.right-foot{
    width: 25%;
   
}
.footer-cont .flex{
    gap: .9375rem;
}
.left-foot .flex{
    justify-content: flex-start;
}
.center-foot{
    width: 75%;
    justify-content: space-between;
}
.center-foot >.flex{
    justify-content: center;
}
.right-foot .flex{
    justify-content: flex-end;
}
.img-footer{
    width: 2.5rem;
    height: 2.5rem;

}

.icone-footer{
    font-size: 1.125rem;
}
 /* bars */
.lunghezza{
    margin: .3125rem;
    padding: .125rem;
    width: 8.375rem;
    height: 1.25rem;
    border: .0625rem solid white;
    border-radius: 1.25rem;
}

.color{
    background-color: aquamarine;
    border-radius: 1.25rem;
    width: 50%;
    height: 100%;
}

.cerchio{
    width: 1.25rem;
    height:1.25rem ;
    background-color: #282828d6;
    border: .0625rem solid white;
    border-radius: 50%;
   position: relative;
   right: 1.875rem;
   bottom: .1875rem;
}

#volume{
    width: 4.18rem ;
}

/* responsive */

@media screen and (min-width: 970px){
    .icone{
        display: flex;
        gap: .3125rem;
    }
   
}