/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* common */
.body{
    height: 100vw;
}
.space-between{
    display: flex;
    justify-content: space-between;
}
.flex{
    display: flex;
}

ul *{
    list-style: none;
}

.padding{
    padding-left: 0.625rem;
}
.hover{
    border-left: 2px solid rgba(0, 0, 0, 0.414);
}

.casa:hover .hover,
.cerca:hover .hover,
.libreria:hover .hover
{
    border-left: 1px solid rgb(26, 255, 0);
}
.second-cont .evidenza ul:hover .hover{
    border-bottom: rgb(26, 255, 0);
}

/* header */

header{
    padding-top: 1.25rem;
    background-color: rgba(0, 0, 0, 0.414);
    min-height: 1.875rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.logo-small{
    width: 2rem;
    height: 100%;
}
 .logo-big{
    display: none;
    width: 7.5rem; 
    height: 100%;
} 
header button{
    background-color: transparent;
    color: white;
    border: 0.0625rem solid white;
    border-radius: 1.25rem;
    padding: 1rem;
 }
 

/* responsive header */
@media screen and (min-width: 552px){
    .logo-big{
        display: flex;
    }
    .logo-small{
        display: none;
    }    
}



/* main */
main{
    height: calc(100vh - 4.6875rem) ;
    overflow: hidden;
}


/* ****
menu
****** */
.first-cont{
    width: 3.125rem;
    background-color: #000000;
    color: azure;
    flex-direction: column;
   
}

@media screen and (min-width: 552px){
    .first-cont{
        width:14.375rem;
    }
    
}

.menu{
    padding-top: 4.6875rem;
    width: 100%;
    
}

main .first-cont ul{
    margin-bottom: 2.25rem;
}
.menu ul li{
    margin-bottom: .625rem;
    align-items: center;
    
}
main .first-cont img{
    width: 2rem; 
}
.home{
    display: none;
}
@media screen and (min-width: 552px){
    .home{
        display:block;
        
    }
   
}

.musica{
    display: none;
    overflow-y: hidden;
    padding-bottom: .9375rem;
}
.playlist{
    flex-grow: 1;
    overflow-y: auto;
 }
 .playlist li{
    padding:.625rem 0 ;
 }
@media screen and (min-width: 552px){
    .musica{
        display: flex;
        flex-direction: column;
        
    }
    
     
}

#special{
    color: #000000;
    background-color: aliceblue;
    margin-right: 1rem;
}


.user{
    margin-top: auto;  
}


/* responsive */



/* ************
photo musica
************** */

.second-cont{
    padding-top:  4.6875rem;
    height: calc(100vh - 4.6875rem);
    width: calc(100% - 3.125rem);
    overflow: scroll;
    background-color: #141922;
    color: white;
}


@media screen and(min-width:552px){
    .second-cont{
        width: calc(100% - 14.375rem);
    }
    
}
.second-cont .album {
    margin-bottom: 4.5rem;

}
.second-cont .evidenza ul{
    justify-content: center;
    flex-wrap: wrap;
    gap: .9375rem;
    margin: 1.25rem auto;
}




/* boxex */
main .second-cont img{
    width: 100%;

}

.boxes{
    flex-wrap: wrap;
    gap: 1.25rem;
   
}

.box{
    width:calc(100% / 2 - 1.25rem);
    text-align: center;
    margin-top: 2.5rem;
}
.img-cerchio{
    border-radius: 50%;
}
@media screen and (min-width: 680px){
    .box{
      width:calc(100% / 4 - 1.25rem); 
    }
}

@media screen and (min-width: 880px){
    .box{
      width:calc(100% / 6 - 1.25rem); 
    }
}

/* footer */
.footer-cont{
    background-color: #282828;
    color: white;
    height: 4.6875rem;
    width: 100%;
    padding: 1rem ;
}

.left-foot,
.right-foot{
    width: 25%;
   
}
.footer-cont .flex{
    gap: .125rem;
}
.left-foot .flex{
    justify-content: flex-start;
}
.center-foot{
    width: 75%;
    justify-content: space-between;
}
.center-foot >.flex{
    justify-content: center;
}
.right-foot > .flex{
    justify-content: flex-end;
}
.img-footer{
    width: 1.25rem;
    height: 1.25rem;

}
.titolonome{
    font-size: .625rem;
}
.icone-footer{
    font-size: .625rem;
}
 /* bars */
.lunghezza{
    margin: .3125rem;
    padding: .125rem;
    width: 8.375rem;
    height: .625rem;
    background-color: #404040;
    border-radius: 1.25rem;
}
.lunghezza-due{
    width: 1.25rem;
}
.color{
    background-color:#959595;
    border-radius: 1.25rem;
    width: 50%;
    height: 100%;
}

.align{
    align-items: center;
}

#volume{
    width: 50% ;
}

/* responsive */

@media screen and (min-width: 540px){
    .footer-cont .flex{
        gap: .9375rem;
    }
    
    .icone{
        display: flex;
        gap: .3125rem;
    }
    .icone-footer{
        font-size: 1.125rem;
    }

    .img-footer{
        width: 2.5rem;
        height: 2.5rem;
    
    }
    .titolonome{
        font-size: 1rem;
    }

}