/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
.flex{
    display: flex;
    justify-content: flex-end;
}

/* header */
header{
    background-color: rgba(0, 0, 0, 0.414);
    padding: 0.625rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
header button{

}

/* main */
.first-cont img{
    width: 7.5rem;
}
.first-cont{
    height: 100vh;
    width: 20%;
    background-color: black;
}

.second-cont{
    height: 100vh;
    width: 80%;
    overflow: scroll;
    background-color: #141922;
}

/* footer */
.footer-cont{
    background-color: #282828;
    height: 10vh;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;

}



/* responsive */